<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Banglow in Chennai</title>
</head>
<body>
    <div class="banglow">
        <div class="banglow-link">
            <a href="/projects"><i class="fa-solid fa-arrow-left"></i> Back to Projects</a>
        </div>
        <div class="banglow-content">
            <div class="banglow-title">
                <h2>Banglow In Chenni</h2>
            </div>
            <div class="banglow-images">
                <div class="image">
                    <img src="{{ url_for('static', filename='images/living-b.jpg') }}" alt="Background 1">
                    <h2>Living room</h2>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='images/kitchen-b.jpg') }}" alt="Background 1">
                    <h2>Kitchen</h2>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='images/bedroom-b.jpg') }}" alt="Background 1">
                    <h2>Bedroom</h2>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='images/balconi-b.jpg') }}" alt="Background 1">
                    <h2>Balcony</h2>
                </div>

            </div>
            <div class="banglow-info">
                <div class="info">
                    <p>Our bungalow interiors project is dedicated to transforming spaces into serene sanctuaries, seamlessly blending modern comfort with timeless elegance. Each design element is meticulously curated to foster an environment that reflects the homeowner's personality and enhances their lifestyle. Our bungalow interiors project is characterized by several standout features that enhance both functionality and aesthetic appeal. The open concept living design facilitates interaction and connectivity, making the space ideal for family gatherings and entertaining guests. Versatile furniture allows for easy reconfiguration, adapting to various occasions with ease. Additionally, we integrate natural elements such as wood, stone, and greenery, crafting a warm and inviting atmosphere that brings the beauty of nature indoors. Large windows and sliding doors further enhance this connection, seamlessly inviting the outdoors .</p></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>