<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Contact</title>
</head>
<body>
    <div class="contact-us">
        <div class="container">
            <div class="navbar">
                <ul>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Recent Projects</a>
                    </li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="contact">
            <div class="contact-title">
                <h2>Contact</h2>
                <h2>Contact</h2>
                <p>We would be delighted to hear from you! Please reach out to us for a complimentary consultation regarding your interior design project. Our team of experienced professionals is ready to collaborate with you to create a space that reflects your style and meets your needs.</p>
            </div>
            <div class="contact-body">
                <div class="contact-info">
                    <div>
                        <span><i class="fa-solid fa-mobile-screen"></i></span>
                        <h3>Phone No</h3>
                        <p class="text">1-23456-23678-3</p>
                    </div>

                    <div>
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <h3>E-mail</h3>
                        <p class="text">thara26@gmail.com</p>
                    </div>
                    <div>
                        <span><i class="fa-solid fa-location-dot"></i></span>
                        <h3>Address</h3>
                        <p class="text">33, ABC Street, Sivakasi road, Srivilliputtur.</p>
                    </div>
                    <div>
                        <span><i class="fa-solid fa-clock"></i></span>
                        <h3>Opening Hours</h3>
                        <p class="text">Monday - Friday (9.00 AM to 5.00 PM)</p>
                    </div>
                </div>
                <div class="follow-us">
                    <h4>Follow Us</h4>
                    <div class="icon">
                        <div><i class="fa-brands fa-facebook"></i></div>
                        <div><i class="fa-brands fa-whatsapp"></i></div>
                        <div><i class="fa-brands fa-instagram"></i></div>
                        <div><i class="fa-brands fa-twitter"></i></div>
                        <div><i class="fa-solid fa-globe"></i></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>